#Das Docker Volume wird im Ordner /var/lib/docker/volumes/ angenommen. Als Verzeichnis gibst du nur den Namen
#des Volumes an. Sind es mehrere Verzeichnisse gibst du z.b InfluxDB* an. dabei ist es wichtig das die Volumes alle mit InfluxDB_conf InfluxDB_data beginnen
#
#Containername:Container ordner
#

examplecontainer:Volumename
